


<input class="form-control my-3" type="text" placeholder="Type Your Amount Here" aria-label="default input example">
<input class="form-control" type="text" placeholder="From" aria-label="default input example">
<input class="form-control my-3" type="text" placeholder="To" aria-label="default input example">
<input class="form-control" type="text" placeholder="Notes" aria-label="default input example">
<div class="d-flex justify-content-end my-3">
  <button class="btn btn-primary">Add Transaction</button>
</div>
